* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.burger-btn{
    display: none;
}


.container {
    max-width: 1320px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 10px;
}

.col-4 {
    width: 33.3%;
    padding: 0 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 45px 0;
    background: #4A2B33;
}

.header-link {
    color: #D27487;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.header-nav {
    display: flex;
    column-gap: 20px;
    
}

.header-logo {
    color: #D27487;
    text-transform: uppercase;
    font-size: 42px;
    font-family: Inter;
}

.header-links {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.banner {
    background: #4A2B33;
    padding: 35px 0;
}

.banner-img {
    width: 100%;
}

.about-us {
    padding: 245px 0;
}

.about-us-block {
    width: 870px;
    margin: 0 auto;
}

.about-us-title {
    color: #222;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 17px;
    font-weight: 700;
    line-height: 21.6px;
}

.about-us-text {
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
}

.menu {
    padding: 120px 0;
    background: #E9E9E3;
}

.menu-title {
    color: #6F6F64;
    font-family: "Azeret Mono";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.menu-text {
    color: #6F6F64;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.menu-btn {
    color: #6F6F64;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 17px 0;
    border: 2px solid #6F6F64;
    width: 100%;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 15px;
}

.menu-btn:hover {
    background: #6F6F64;
    color: #FFF;
}

.menu-img {
    width: 100%;
}

.booking {
    padding: 120px 0;
    background: #AA9E54;
}

.booking-title {
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 17px;
    font-weight: 700;
    line-height: 21.6px;
    margin-bottom: 15px;
}

.booking-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 36.4px;
}

.gallery{
    padding: 130px 0;
}

.gallery-block{
    height: 640px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.gallery-img{
    width: 100%;
    height: calc(100% - 40px);
    object-fit: cover;
}

.gallery-img-big{
    height: 100%;
}

.info{
    padding: 120px 0;
    background: #4A2B33;
}

.info-title{
    color: #D27487;
    font-family: "Azeret Mono";
    font-size: 47px;
    font-weight: 400;
    line-height: 62.5px;
    letter-spacing: 1px;
}

.info-text{
    color: #D27487;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.footer-block{
    width: 650px;
    margin: 56px auto;
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    justify-content:center ;
    flex-wrap: wrap;
}

.footer-link{
color: #1F1F1F;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22.4px;
text-decoration: none;

}

@media  screen and (max-width:1400px) {
    .container{
        max-width: 1140px;
    }
    
}

@media screen and (max-width:1200px) {
    .container{
        max-width: 940px;
    }
    
}

@media screen and (max-width:992px) {
    .container{
        max-width: 720px;
    }
    .about-us{
        padding: 100px 0;
    }

    .col-4{
        width: 50px;
    }
    
}

.row{
    justify-content: center;
    row-gap: 15px;
}
.about-us-block{
    width: 80%;
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }

    .header-links{
        display: none;
    }

    .header-menu{
        order: 1;
    }
    .header{
        position: relative;
        z-index: 5;
        padding: 20px 0;
    }
    .header-nav{
        position: absolute;
        left: 50%;
        transform: translate(-50, 0);
        z-index: 1;
        top: 0;
        transition: .5s;

    }
    .header-nav-show{
        top: 90px;
    }

    .header::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #4A2B33;
        z-index: 2;
    }
    .header-logo{
        position: relative;
        z-index: 3;
    }
    .burger-btn{
        display: block;
        position: relative;
        z-index: 3;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .burger-btn img{
        width: 100%;
        height: 100%;
    }

    .col-4,
    .col-6{
        width: 100%;
    }
    .footer-block{
        width: 80%;
    }
    
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .header-logo{
        font-size: 30px;
    }

}



